header {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--light-grey);
}

header > div {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

#title {
	display: flex;
	align-items: center;
	gap: 10px;
}

#title > svg {
	font-size: 3rem;
	color: var(--purple);
	padding-bottom: 1px;
}
